/*** textarea des questions ***/
.textarea{
	margin-top: 5px;
	height: 60px;
}
.textarea textarea{
	border: 2px solid #9e9e9e;
	width: 100%;
	padding: 5px;
	font-family: 'Open Sans';
	resize: none;
	height: 100%
}
/*** css media pour les questions et les réponses ***/
.media{
	display: table;
	vertical-align: top;
}
.add-media{
	width: 25px;
	height: 25px;
	display: table-cell;
	cursor: pointer;
}
.label-media{
	border-bottom: 1px solid #9e9e9e;
	border-right: 1px solid #9e9e9e;
	display: table-cell;
	vertical-align: middle;
	padding-left: 5px;
	width: 300px;
}
.label-media.not-empty{
	color: black;
}
/*** css label aide***/
.hint{
	margin-top: 10px;
}
/*** position du preview ***/
.preview-question{
	height: 80px;
	width: 80px;
	position: absolute;
	top: 100px;
	left: 60px;
	cursor: pointer;
}
/***************** REPONSES **********************/

/****** QCM *****/
.reponse-qcm{
	margin-top: 10px;
}
/*** css titre des réponse ***/
.reponse-qcm .titre.petit, .reponse-ass .titre.petit, .reponse-tat .titre.petit{
	font-family: 'Open Sans Semibold';
	color: #9e9e9e;
	font-size: 11pt;
}
.reponse-qcm .titre.petit.center, .reponse-ass .titre.petit.center, .reponse-tat .titre.petit.center{
	text-align: center;
}
/*** colonne solution proposition joindre ***/
.reponse-qcm .solution, .reponse-qcm .proposition, .reponse-qcm .joindre,
.reponse-ass .solution, .reponse-ass .proposition, .reponse-ass .joindre,
.reponse-tat .solution, .reponse-tat .proposition, .reponse-tat .joindre, .reponse-tat .ponctuation{
	margin-top: 5px;
}
.reponse-ass .titre.petit.right span{
	float: right;
}
.reponse-ass .titre.petit.left span{
	float: left;
}
/*** checkbox solution ***/
.checkbox{
	height: 25px;
	width: 25px;
	display: table;
	cursor: pointer;
	outline: none;
	margin-left: 40px;
}
/*** css input proposition ***/
.reponse-qcm .proposition > input, .reponse-ass .proposition > input, .reponse-tat .proposition > input, .reponse-tat .solution > input, .reponse-tat .ponctuation > input{
	width: 85%;
	border: 2px solid #9e9e9e;
	padding: 2px;
	font-size: 11pt;
}
/*** css media colonne joindre ***/
.reponse-qcm .joindre, .reponse-ass .joindre.right{
	display: table;
}
.reponse-qcm .joindre div, .reponse-ass .joindre.right div{
	padding-left: 20px;
}
.reponse-qcm .joindre .add-media, .reponse-ass .joindre .add-media{
	height: 22px;
	width: 22px;
}
.reponse-qcm .joindre .delete-media, .reponse-ass .joindre .delete-media, .reponse-tat .joindre .delete-media{
	height: 22px;
	width: 22px;
	display: table-cell;
	cursor: pointer;
	outline: none;
	margin-left: 20px;
}
.reponse-qcm .joindre .label-media, .reponse-ass .joindre .label-media, .reponse-tat .joindre .label-media{
	border-top: 1px solid #9e9e9e;
	width: 200px;
}
.reponse-qcm .joindre .mobile{
	width: 200px;
}
.reponse-qcm .joindre .mobile, .reponse-ass .joindre .mobile, .reponse-tat .joindre .mobile{
	display: none;
}
/*** ASS ***/
.ass div, .tat div{
	display: table-cell;
	vertical-align: middle;
	padding-left: 10px;
}
.ass div .texte.backline, .tat div .texte.backline{
	display: block;
}
.ass .texte-particulier, .tat .texte-particulier{
	display: block;
	margin-bottom: 10px;
}
.ass .info.img, .tat .info.img{
	display: inline-block;
}
.ass .texte, .tat .texte{
	vertical-align: middle;
}
.ass div .consigne1, .ass div .consigne2{
	vertical-align: middle;
	display: inline-block;
}
.ass div .consigne1{
	width: 55px;
	height:18px;
}
.ass div .consigne2{
	width: 50px;
	height:20px;
}
.reponse-ass, .reponse-tat{
	margin-top: 40px;
}
.reponse-ass .joindre.left .add-media, .reponse-ass .joindre.left .delete-media{
	float: right;
	margin-left: 0;
	margin-right: 20px;
}
.reponse-ass .joindre.left .label-media-left{
	display: table;
}
.reponse-ass .joindre.left .label-media-left div{
	display: inherit;
}
.reponse-ass .joindre.left .label-media{
	border-left: 1px solid #9e9e9e;
	border-right: none;
	padding-right: 5px;
}
.reponse-ass .joindre.left .label-media, .reponse-ass .joindre.right .label-media{
	width: 90px;	
}
.reponse-ass .proposition > input{
	width: 70%;
	padding: 0px 5px 2px 5px;
	margin-bottom: 5px;
}
.reponse-ass .proposition > input[type="text"][disabled]{
	color: #b7b7b7;
	background-color: inherit;
	border-color: #b7b7b7
}
.reponse-ass .proposition.left > input{
	margin-left: 20px;
}
.reponse-ass .proposition.right{
	text-align: right;
}
.reponse-ass .proposition.right > input{
	margin-right: 20px;
}
.reponse-ass .proposition .ass-empty{
	height: 22px;
	width: 22px;
	display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  cursor: pointer;
}
.reponse-ass .proposition.right .ass-empty{
	margin-right: 5px;
}
.btn-ass .btn-group, .btn-ass .btn.btn-quiz.modif{
	float: right;
	margin-top: 40px;
}
.btn-ass .btn.btn-quiz{
	padding: 0 15px;
}
/*** TAT ***/
.reponse-tat .proposition, .reponse-tat .solution{
	padding-right: 10px;
}
.reponse-tat .proposition input, .reponse-tat .solution input{
	width: 100%
}
.reponse-tat .ponctuation input{
	width: 20px;
	padding-left: 3px;
}
.reponse-tat .joindre .label-media{
	width: 120px;
}
.reponse-tat .joindre .add-media{
	height: 22px;
	width: 22px;
	margin-left: 20px;
}
.add-tat, .add-leurre{
	margin-top: 10px;
}
.add-tat .add-media.img, .add-leurre .add-media.img{
	border: 1px solid #9e9e9e;
}
.add-tat .label-media, .add-leurre .label-media{
	padding-left: 10px;
	border: none;
}
.add-leurre-title{
	margin-top: 40px;
}
.leurres{
	border: 2px solid #9e9e9e;
	display: inline-block;
	padding: 2px 5px;
	margin-top: 10px;
	margin-right: 10px; 
}
.leurres .deleted{
	height: 10px;
	width: 10px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	cursor: pointer;
}
/*** css mélangé questions ***/
.rand-answers{
	margin-top: 20px;
}
.rand-answers div>label{
	height: 50px;
	display: table;
}
.rand-answers div>label{
	display: table-cell;
	vertical-align: middle;
	font-family: 'Open Sans Light';
	font-size: 11pt;
}
.rand-answers .btn-group>.btn:first-child{
	margin-left: 0;
}
/*** css commentaire area ***/
.comment{
	margin-top: 30px;
}
.comment .textarea{
	height: 100px;
	width: 80%;
}
/*** css bouton valider, effacer et annuler ***/
.validate .btn-group{
	float: right;
}
.validate .btn.btn-quiz.hover{
	padding: 5px 40px;
}

/****** LIGNE ASS****/
div.line{
  transform-origin: 0 100%;
  height: 2px; /* Line width of 3 */
  background: #1aa1cc;
  cursor:pointer;
}

/*** css des tablettes plus grande !! ***/
@media (min-width: 992px) and (max-width: 1200px){
	.reponse-ass .joindre.left .add-media, .reponse-ass .joindre.left .delete-media{
		margin-left: 0;
		margin-right: 0;
	}
	.reponse-ass .joindre.right div{
		padding-left: 0;
	}
	.reponse-ass .joindre.left .label-media, .reponse-ass .joindre.right .label-media{
		width: 80px;
	}
	.ass div, .tat div{
		display: table-cell;
	}
}
/*** css des tablettes et mobiles ***/
@media screen and (max-width: 992px) {
	/*** changement emplacement preview ***/
  .preview-question{
		height: 60px;
		width: 60px;
		position: absolute;
		top: 2px;
		left: 90%;
	}
}

/*** css des mobiles seuls ***/
@media screen and (max-width: 768px) {
	/*** changement emplacement preview ***/
	.preview-question{
		height: 50px;
		width: 50px;
		position: absolute;
		top: 1px;
		left: 80%;
	}
	/*** css label des media de la question ***/
	.label-media{
		width: 250px;
	}
	/*** css font size et suppression colonne joindre ***/
	.reponse-qcm .titre.petit{
		font-size: 9pt;
	}
	.reponse-qcm .titre.petit.joindre{
		display: none;
	}
	/*** checkbox solution sans marge ***/
	.checkbox{
		margin-left: 0;
	}
	/*** agrandissement de l'input proposition ***/
	.reponse-qcm .proposition > input{
		width: 100%;
	}
	/*** responsive media joindre ***/
	.reponse-qcm .joindre div{
		padding-left: 25%;
	}
	.reponse-qcm .joindre .label-media{
		width: 170px;
	}
	.reponse-qcm .joindre .mobile, .reponse-tat .joindre .mobile, .reponse-ass .joindre .mobile{
		display: table-cell;
	}
	/*** suppression des marges de mélangé question ***/
	.rand-answers{
		margin-top: 0;
	}
	.rand-answers div>label{
		height: 20px;
	}
	/*** ASS ***/
	/***suppression des marges des input***/
	.ass div, .tat div{
		display: table-cell;
	}
	.ass div span{
		display: inline-block;
	}
	.ass div .backline-mobile{
		display: block;
	}
	.reponse-ass .proposition.left > input{
		margin-left: 0;
	}
	.reponse-ass .proposition.right > input{
		margin-right: 0;
	}
	/***on supprime le titre joindre ***/
	.reponse-ass .titre.petit.right, .reponse-ass .titre.petit.left{
		display: none;
	}
	/*** on aligne les medias sur la droite et la gauche ***/
	.reponse-ass .joindre.left .add-media, .reponse-ass .joindre.left .delete-media{
		float: none;
		margin-right: 0;
	}
	.reponse-ass .joindre.left .label-media-mobile{
		display: table;
	}
	.reponse-ass .joindre.left .label-media{
		border-right: 1px solid #9e9e9e;
		border-left: none;
	}
	.reponse-ass .joindre.left .label-media-left div{
		display: flex;
	}
	.reponse-ass .joindre.right .add-media, .reponse-ass .joindre.right .delete-media{
		float: right;
		margin-left: 0;
	}
	.reponse-ass .joindre.right .label-media{
		float: right;
		height: 22px;
		border-left: 1px solid #9e9e9e;
		border-right: none;
		text-align: right;
    padding-right: 5px;
	}
	.btn-ass{
		text-align: center;
	}
	.btn-ass .btn-group, .btn-ass .btn.btn-quiz.modif{
		float: none;
		margin-top: 20px;
	}
	/***TAT***/
	.reponse-tat .joindre .label-media{
		width: 165px
	}
	.reponse-tat .titre.petit.joindre{
		display: none;
	}
	.add-leurre-title{
		margin-top: 20px;
	}
	/*** commentaire sans les marges ***/
	.comment{
		margin-top: 0;
	}
	.comment .textarea{
		width: 100%;
	}
	/*** centrer les bouton valider et effacer ***/
	.validate{
		text-align: center;
	}
	.validate .btn-group{
		float: none;
	}
	.validate .btn.btn-quiz.hover{
		padding: 3px 15px;
	}
}