/*** css général  ***/
.infos-modes{
	padding: 20px 0;
}

/**** css des icones ****/
.info, .parameters{
	height: 25px;
	width: 25px;
	vertical-align: middle;
}
.delete{
	height: 15px;
	width: 25px;
	vertical-align: middle;
	margin-top: 5px;
	margin-bottom: 5px;
}
.parameters, .delete{
	display: inline-block;
	margin-right: 5px;
	cursor: pointer;
}
.chevron-top, .chevron-bottom{
	height: 20px;
	width: 20px;
	vertical-align: middle;
	float: right;
	cursor: pointer;
}


/*** css du text ****/
.infos-text{
	display: table;
}
.text{
	margin-top: 10px;
	padding-right: 90px;
}
.infos-text .icon, .infos-text .text{
	display: table-cell;
}
.infos-text .icon{
	vertical-align: middle;
}
.infos-text .text{
	padding-left: 10px;
	padding-right: 100px;
}

/************ css sur les boutons des paramètres **************/
.buttons{
	padding: 10px 0px 10px 30px;
}
.btn-group>.btn:first-child {
	margin-left: 10px;
}
.btn-group-vertical>.btn+.btn{
	margin-left: 10px;
}
.btn-group-vertical>.btn:first-child:not(:last-child) {
	border-top-right-radius: 0;
}
.btn-group-vertical>.btn:last-child:not(:first-child) {
	border-bottom-left-radius: 0;
}
.btn.btn-quiz.add-question{
	float: right;
	padding: 5px 15px;
	margin-top: 40px;
	margin-right: 50px;
}

/*************** css sur l'accordion maison des paramètres avancés ******************/
.accordion {
	border: 2px solid #9e9e9e;
	margin-top: 50px;
}
.accordion, .re-establish{
	padding: 5px;
}
.re-establish, .accordion-content{
	border-left: 2px solid #9e9e9e;
	border-right: 2px solid #9e9e9e;
	border-bottom: 2px solid #9e9e9e;
}
.accordion span, .re-establish span{
	vertical-align: middle;
	cursor: pointer;
}

/*************** css sur les question crées ****************************/
.list .questions{
	margin-top: 40px
}
.list .questions .question{
	margin-top: 10px;
	border: 2px solid #9e9e9e
}

.list .questions .question .icons > div{
	text-align: center;
}
.list .questions .question .libelle{
	padding: 4px 10px;
}
.list .questions .question .type{
	padding: 4px 0px;
}
.list .questions .question .libelle span, .list .questions .question .type span{
	vertical-align: middle;
}
.list .questions .question .icons .border, .list .questions .question .icons .delete-question, .list .questions .question .icons .update-question{
	display: inline-block;
	vertical-align: middle;
}
.list .questions .question .icons .delete-question, .list .questions .question .icons .update-question{
	cursor: pointer;
}
.list .questions .question .icons .delete-question{
	height: 30px;
	width: 30px;
}
.list .questions .question .icons .update-question{
	height: 30px;
	width: 30px;
}
.list .questions .question .icons .border{
	height: 30px;
	width: 4px;
}
.list .infos-text{
	margin-top: 50px;
}
.list .infos-text .icon{
	padding-left: 30px;
}
.list .infos-text .text{
	padding-right: 20px;
}
/**************************** RESPONSIVE DESIGN  *******************************/
/* pour les media tel que mobile et tablette*/
@media screen and (max-width: 992px) {
  .content{
		margin: 10px 10px;
	}
	.title-action{
		margin-top: 30px;
	}
	.infos-text .text{
		padding-right: 10px;
	}
	.text{
		padding-right: 10px;
	}
	.buttons{
		padding: 20px 0;
		text-align: center;
	}
	.infos-modes{
		padding: 20px 10px;
	}
	.btn.btn-quiz.add-question{
		float: right;
		padding: 5px 15px;
		margin-top: 30px;
		margin-right: 10px;
	}
}
/**************************** RESPONSIVE DESIGN  *******************************/
/* pour les mobiles seuls*/
@media screen and (max-width: 768px) {
	.list .questions{
		margin-top: 0;
	}
	.list .infos-text .icon{
		padding-left: 0;
	}
	.list .questions .question .libelle{
		padding: 4px 2px;
	}

	.list .questions .question .icons .update-question, .list .questions .question .icons .delete-question{
		width: 20px;
	}
	.list .questions .question .icons .update-question.img{
		background-size: 120%;
    background-position: center;
	}

	.list .questions .question .icons .delete-question.img{
		background-size: 80%;
	}
}