/*** font open sans google ***/
@font-face {
  font-family: 'Open Sans Bold';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/OpenSans-Bold.ttf');
}
@font-face {
  font-family: 'Open Sans Bold Italic';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/OpenSans-BoldItalic.ttf');
}
@font-face {
  font-family: 'Open Sans Light';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/OpenSans-Light.ttf');
}
@font-face {
  font-family: 'Open Sans Light Italic';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/OpenSans-LightItalic.ttf');
}
@font-face {
  font-family: 'Open Sans Extrabold';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/OpenSans-ExtraBold.ttf');
}
@font-face {
  font-family: 'Open Sans Extrabold Italic';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/OpenSans-ExtraBoldItalic.ttf');
}
@font-face {
  font-family: 'Open Sans Semibold';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/OpenSans-SemiBold.ttf');
}
@font-face {
  font-family: 'Open Sans Semibold Italic';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/OpenSans-SemiBoldItalic.ttf');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/OpenSans-Regular.ttf');
}
@font-face {
  font-family: 'Open Sans Italic';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/OpenSans-Italic.ttf');
}

/* permet d'avoir 100% de la page */
html,
body {
    height: 100%;
}

.purcent-page{
	height: 100%;
}

.purcent-page .sons div{
	height: 100%;
}

.purcent-page .first-sons > div{
  height: 100%;
}

/****************** PARTIE GENERALE A L'APPLICATION ************************/
body {
  font-family: 'Open Sans';
}
.container {
    margin: 0;
    max-width: 100%;
    padding: 0;
    width: 100%;    
}
.container *{
    margin: 0;
    padding: 0;
}

/*** css sur les différentes front et taille pour l'application ***/
.grand-titre {
  font-family: 'Open Sans Extrabold';
  color: white;
  font-size: 22pt;
}
.titre {
  font-family: 'Open Sans Extrabold';
  color: #9e9e9e;
  font-size: 18pt;
}
.texte{
  font-family: 'Open Sans';
  font-size: 12pt;
  color: black;
  line-height: 1.2;
}
.texte-italic{
  font-family: 'Open Sans Italic';
  font-size: 12pt;
  color: #b7b7b7;
  line-height: 1.2;
}
.texte-particulier{
  font-family: 'Open Sans Extrabold';
  font-size: 13pt;
  color: black;
}
.texte-particulier-italic{
  font-family: 'Open Sans Bold Italic';
  font-size: 12pt;
  color: #b7b7b7;
}
.texte-secondaire{
  font-family: 'Open Sans';
  font-size: 9pt;
  color: #b7b7b7;
}
.texte-secondaire-italic{
  font-family: 'Open Sans Italic';
  font-size: 9pt;
  color: #b7b7b7;
}

/*** css sur tous les boutons et les placeholder dans l'application ***/
.btn.btn-quiz{
  background-color: inherit;
  border: 2px solid #9e9e9e;
  border-radius: 0;
  padding: 3px 15px;
  margin: 10px;
  outline: none;
  color: black;
}
.btn.btn-quiz.disabled, .btn.btn-quiz.selected.disabled{
  background-color: rgba(183, 183, 183, 0.4);
  border: none;
  color: black;
  cursor: default;
}
.btn.btn-quiz label{
  margin: 0;
  font-family: 'Open Sans';
  font-size: 12pt;
  font-weight: normal;
  cursor: pointer;
}
.btn.btn-quiz.selected{
  background-color: #1aa1cc;
  border: 2px solid #1aa1cc;
  color: white;
  outline: none;
}
.btn.btn-quiz.hover:hover{
  background-color: #1aa1cc;
  border: 2px solid #1aa1cc;
  color: white;
  outline: none;
}
input:-moz-placeholder, textarea:-moz-placeholder {
  font-family: 'Open Sans Light';
  font-size: 10pt;
  color: #505050;
  font-style: italic;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  font-family: 'Open Sans Light';
  font-size: 10pt;
  color: #505050;
  font-style: italic;
}
input.placeholder, textarea.placeholder {
  font-family: 'Open Sans Light';
  font-size: 10pt;
  color: #505050;
  font-style: italic;
}

/*** css des icones de l'application ***/
.edit.img{
  background-image: url('../images/edit-noir-gris.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  cursor: pointer;
}
.edit.img:active{
  background-image: url('../images/edit-noir.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  cursor: pointer;
}
.edit.img.disabled{
  background-image: url('../images/edit-gris.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  cursor: default;
}
.info.img{
  background-image: url('../images/infos.svg');
  background-repeat: no-repeat;
  background-size: 100%;
}
.parameters.img{
  background-image: url('../images/parametres.svg');
  background-repeat: no-repeat;
  background-size: 100%;
}
.chevron-top.img{
  background-image: url('../images/fleche-haut.svg');
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: 0;
}
.chevron-bottom.img{
  background-image: url('../images/fleche-bas.svg');
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: 0;
}
.delete.img{
  background-image: url('../images/retablir.svg');
  background-repeat: no-repeat;
  background-size: 60%;
}
.add-media.img{
  background-image: url('../images/ajout-cadre.svg');
  background-repeat: no-repeat;
  background-size: 100%;
}
.preview-question.img{
  background-image: url('../images/apercu-entier-droite.svg');
  background-repeat: no-repeat;
  background-size: 100%;
}
.checkbox.img{
  background-image: url('../images/case-decochee.svg');
  background-repeat: no-repeat;
  background-size: 100%;
}
.checkbox.img.checked{
  background-image: url('../images/case-cochee.svg');
  background-repeat: no-repeat;
  background-size: 100%;
}
.delete-media.img{
  background-image: url('../images/supprimer-cadre.svg');
  background-repeat: no-repeat;
  background-size: 100%;
}
.ass-empty.img{
  background-image: url('../images/association-vide.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
.ass-empty.img.hover:hover{
  background-image: url('../images/association-a-selectionner.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
.ass-empty.img.selected{
  background-image: url('../images/association-pre-selection.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
.ass-empty.img.selected:hover{
  background-image: url('../images/association-pre-selection.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
.ass-empty.img.connected{
  background-image: url('../images/association-relie.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
.consigne1.img{
  background-image: url('../images/association-consigne1.svg');
  background-repeat: no-repeat;
  background-size: 100%;
}
.consigne2.img{
  background-image: url('../images/association-consigne2.svg');
  background-repeat: no-repeat;
  background-size: 100%;
}
.deleted.img{
  background-image: url('../images/suppression.svg');
  background-repeat: no-repeat;
  background-size: 100%;
}
.border.img{
  background-image: url('../images/bordure.svg');
  background-repeat: no-repeat;
  background-size: 100%;
}
.delete-question.img{
  background-image: url('../images/supprimer.svg');
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
}
.update-question.img{
  background-image: url('../images/edit.svg');
  background-repeat: no-repeat;
  background-size: 100%;
}
.media-image.img{
  background-image: url('../images/media-image.svg');
  background-repeat: no-repeat;
  background-size: 100%;
}
.media-son.img{
  background-image: url('../images/media-son.svg');
  background-repeat: no-repeat;
  background-size: 100%;
}

/*************************  PARTIE QUIZ  ***********************/
.bandeau{
  color: white;
  float: right;
  padding: 5px;
  margin-right: 10px;
}
.titre-quiz{
  text-align: center;
  padding: 30px 0;
}
.titre-quiz .grand-titre{
  vertical-align: middle;
  padding: 0 30px;
}

/*** css le l'icone édit dans le bandeau quiz ***/
.edit{
  height: 25px;
  width: 25px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 30px;
}

/*** css des tablettes et mobiles ***/
@media screen and (max-width: 992px) {
  .titre-quiz{
    padding: 20px 0;
  }
  .titre-quiz .grand-titre{
    padding: 0 10px;
  }

  .edit{
    margin-right: 5px;
  }
}

/*** css des mobiles seuls ***/
@media screen and (max-width: 768px) {
  .grand-titre{
    font-size: 13pt;
  }
  .titre{
    font-size: 12pt;
  }
  .texte{
    font-size: 9pt;
  }
  .texte-particulier{
    font-size: 10pt;
  }
  .texte-italic{
    font-size: 9pt;
  }
  /* permet d'inverser les colonnes explication et bouton pour le mobile facilitant le visuel des explication avant l'action */
  .columns-inverse-mobile{
    display: -webkit-flex; /* Safari */
    -webkit-flex-direction: column-reverse; /* Safari 6.1+ */
    display: -ms-flex; /* ie10 */
    -ms-flex-direction: column-reverse; /* Safari 6.1+ */
    display: -moz-flex; /* firefox */
    -moz-flex-direction: column-reverse; /* firefox */
    display: flex;
    flex-direction: column-reverse;
  }
  .row-inverse-mobile{
    display: -webkit-flex; /* Safari */
    -webkit-flex-direction: row-reverse; /* Safari 6.1+ */
    display: -ms-flex; /* ie10 */
    -ms-flex-direction: row-reverse; /* Safari 6.1+ */
    display: -moz-flex; /* firefox */
    -moz-flex-direction: row-reverse; /* firefox */
    display: flex;
    flex-direction: row-reverse;
  }
}