<div class="row sessions">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="content title-action">
			<span class="titre">{{"résultats des élèves" | uppercase}}</span>			
		</div>
		<div class="row content filters">
			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 date">
				<p class="checkbox img" ng-class="{checked: filters.newest}" ng-click="changeDate('newest')"></p>
				<span class="texte">Les plus récents</span>
				<p class="checkbox img" ng-class="{checked: filters.oldest}" ng-click="changeDate('oldest')"></p>
				<span class="texte">Les plus anciens</span>
			</div>
			<BR>
			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 category">
					<div>
					<span class="texte">Classes : </span>
					<div class="btn-group texte" uib-dropdown uib-keyboard-nav>
		        <button id="listestudentsId" type="button" class="btn btn-primary" uib-dropdown-toggle>{{filters.classe.name}}</button>
		        <ul uib-dropdown-menu>
	            <li ng-if="filters.classe.id != '!'" 
	            		role="menuitem"
	            		ng-click="changeClass(defaultClass)">
	            		<a>{{defaultClass.name}}</a>
	            </li>
	            <li role="menuitem"
	            		ng-if="filters.classe.id != class.id" 
	            		ng-repeat="class in selectClasses | orderBy:'name'"
	            		ng-click="changeClass(class)">
	            		<a>{{class.name}}</a>
	            </li>
		        </ul>
		    	</div>					
				</div>
				<div>
		    	<span class="texte">Publications : </span>
					<div class="btn-group texte" style="padding-right: 15px;" uib-dropdown uib-keyboard-nav >
		        <button id="listestudentsId" type="button" class="btn btn-primary" uib-dropdown-toggle>{{filters.publication.name}}{{filters.publication.nameClasse}}   	
		        	{{filters.publication.index_publication}}</button>
		        <ul uib-dropdown-menu>
	            <li ng-if="filters.publication.id != '!'" 
	            		role="menuitem"
	            		ng-click="changePublication(defaultPublication)">
	            		<a>{{defaultPublication.name}}</a>
	            </li>
	            <li role="menuitem"
	            		ng-if="filters.publication.id != publication.id" 
	            		ng-repeat="publication in selectPublications | orderBy:'name'"
	            		ng-click="changePublication(publication)">
	            		<a>{{publication.nameClasse}}--{{publication.index_publication}}</a>
	            </li>
		        </ul>
		    	</div>					
				</div>	
				<div>
		    	<span class="texte"> Elèves : </span>
					<div class="btn-group texte" uib-dropdown uib-keyboard-nav>
		        <button id="listestudentsId" type="button" class="btn btn-primary" uib-dropdown-toggle>{{filters.student.name | capitalize:true | overflow:14}}</button>
		        <ul uib-dropdown-menu>
	            <li ng-if="filters.student.uid != '!'" 
	            		role="menuitem"
	            		ng-click="changeStudent(defaultStudent)">
	            		<a>{{defaultStudent.name}}</a>
	            </li>
	            <li role="menuitem"
	            		ng-if="filters.student.uid != student.uid" 
	            		ng-repeat="student in selectStudents | orderBy:'name'"
	            		ng-click="changeStudent(student)">
	            		<a>{{student.name | capitalize:true | overflow:14}}</a>
	            </li>
		        </ul>
		    	</div>					
				</div>


				<!-- <span class="texte">Publications : </span>
				<select ng-model="filterFunction" style="width: 30%;" ><option value="" selected>Publications</option><option ng-repeat="session in sessions">{{session.publication.id}}</option></select>
				<select ng-model="filterFunctionindex" style="width: 30%;" ><option value="" selected>Publications</option><option ng-repeat="session in sessions">{{session.publication.index_publication}}</option></select> -->
			</div>
		</div>
		<div class="row content list-sessions">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 session" ng-repeat="session in (filteredSessions = (sessions | orderBy:'date':filters.newest | filter:{classe:{id: filters.classe.id}}:true| filter:{publication:{id: filters.publication.id}}:true  | filter:{student:{uid: filters.student.uid}}:true ))" ng-if="session.quiz.id==thisQuiz">
				<div class="row">
					<div class="col-xs-4 col-sm-2 col-md-2 col-lg-2 date">
						<span class="texte-secondaire-italic">{{session.date | date:"dd.MM.yy - HH'h'mm"}}</span>											
					</div>
					<div class="col-xs-8 col-sm-10 col-md-10 col-lg-10 border">
						<div></div>
					</div>
				</div>
				<div class="row">
				<div><p ng-if="deleteRight" class="delete img" ng-click="delete(session,quiz.id)"></p></div>
					<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 user" ng-click="openSession(session.id)">
						<span class="texte-bold">{{session.student.name | capitalize:true}}</span>
						<span class="texte">{{session.classe.name}}</span>
						<span class="texte-secondaire">{{session.classe.nameEtab | uppercase}}</span>
					</div>
					<div class="col-xs-10 col-sm-8 col-md-8 col-lg-8 score-img">
						<div class="row">
							<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 no-display-mobile">
								<span class="texte-secondaire">Non acquis</span>
							</div>
							<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center no-display-mobile">
								<span class="texte-secondaire">En cours d'acquisition</span>
							</div>
							<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right no-display-mobile">
								<span class="texte-secondaire">Acquis</span>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
								<p class="score-{{session.score | scorecss}} img"></p>							
							</div>
						</div>
					</div>
					<div class="col-xs-2 col-sm-1 col-md-1 col-lg-1 score-number">
						<span class="titre">{{session.score}} %</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 buttons">
		<button type="button" 
	  				class="btn btn-quiz hover" 
	  				ng-click="quiz()">
	  	<label>Lancer le quiz</label>
	  </button>
<!-- 		<button ng-if="sessions[0].quiz.id!=null" type="button" 
	  				class="btn btn-quiz hover" 
	  				ng-click="print()">
	  	<label>Imprimer</label>
	  </button> -->
		<button ng-if="deleteRight && sessions[0].quiz.id!=null"
						type="button" 
	  				class="btn btn-quiz hover" 
	  				ng-click="reset()">
	  	<label>Réinitialiser</label>
	  </button>
	  		<button ng-if="sessions[0].quiz.id!=null"
						type="button" 
	  				class="btn btn-quiz hover" 
	  				ng-click="republish(sessions[0].quiz.id)">
	  	<label>Républier</label>
	  </button>
	  <button type="button" 
	  				class="btn btn-quiz hover" 
	  				ng-click="close()">
	  	<label>Fermer</label>
	  </button>
	</div>
</div>