<div class= "purcent-page" data-ng-app="quizsApp" data-ng-strict-di>
  <div class="row purcent-page" style="width: 100%; margin: 0">
    <div data-ui-view class="animate scale-fade purcent-page"></div>
  </div>
</div>