<div class="row create-update">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="content title-action">
			<span class="titre">{{actionTitle | uppercase}}</span>			
		</div>
		<div class="row content border-bottom">
			<div class="col-xs-12 col-sm-4 col-sm-offset-2 col-md-4 col-lg-4">
				<div>
					<span class="texte-particulier">Type de question</span>
				</div>
				<div 	class="btn-group-vertical buttons" 
							role="group" 
							aria-label="radio">
				  <button type="button" 
				  				class="btn btn-quiz" 
				  				ng-class="{selected: types.qcm}"
				  				ng-click="changeType('qcm')">
				  	<label>QCM</label>
				  </button>
					<button type="button" 
									class="btn btn-quiz" 
									ng-class="{selected: types.tat}" 
									ng-click="changeType('tat')">
						<label>Texte à trous</label>
					</button>
					<button type="button" 
									class="btn btn-quiz" 
									ng-class="{selected: types.ass}" 
									ng-click="changeType('ass')">
						<label>Association</label>
					</button>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div>
							<span class="texte-particulier">Question :</span>
						</div>
						<div class="textarea">
							<textarea class="texte" 
												maxlength="256" 
												placeholder="Veuillez entrer une question"
												ng-model="question.libelle">
							</textarea>
						</div>
						<!-- <button	id="questionMediaId"
										ng-hide="true"
										type="file"
										accept="image/*,audio/*"
										ngf-capture="capture"
										ngf-pattern="patternFile"
										ngf-max-size="maxFileSize"
										ngf-select="uploadQuestionMedia($file)">
						</button>
						<div>
							<p 	class="add-media img" 
									ng-click="openFileUpload('questionMediaId')">
							</p>
							<label 	class="label-media texte-secondaire-italic" 
											ng-class="{'not-empty': question.media.file && question.media.type != 'video'}">
								{{question.media.file != null && question.media.type != "video" ? question.media.file.name : placeholderMedia}}
							</label>
							<p 	class="add-link img" 
									ng-click="openAddLink('question')">
							</p>
							<label 	class="label-media texte-secondaire-italic" 
											ng-class="{'not-empty': question.media.file && question.media.type== 'video'}">
								{{question.media.file != null && question.media.type == "video" ? question.media.file.name : placeholderLink}}
							</label>
						</div> -->
						<i class="label label-danger texte-secondaire-italic msg-error" ng-show="errorFileQuestion">{{errorFileQuestion}}</i>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 hint">
						<div>
							<span class="texte-particulier">Aide :</span>
						</div>
						<div class="textarea">
							<textarea class="texte" 
												maxlength="2000" 
												placeholder="Vous pouvez écrire une aide qui sera affichée sous la question"
												ng-model="question.hint.libelle">
							</textarea>
						</div>
						<div ng-hide="true">
							<button id='aideMediaId' 
											ng-hide="true"
											type="file"
											accept="image/*,audio/*"
											ngf-capture="capture"
											ngf-pattern="patternFile"
											ngf-max-size="maxFileSize" 
											ngf-select="uploadHintMedia($file)">
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-------------------- DEBUT PARTIE QCM ---------------------------->
		<div 	ng-if="types.qcm" 
					class="row content">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<span class="texte-particulier">Réponses :</span>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 reponse-qcm" style="margin-left: 25%" >
				<div class="row">
					<div class="col-xs-3 col-sm-2 col-md-2 col-lg-2 titre petit">
						<span>SOLUTION(S)</span>
					</div>
					<div class="col-xs-9 col-sm-5 col-md-5 col-lg-5 titre petit center">
						<span>PROPOSITIONS</span>
					</div>
				<!-- 	<div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 titre petit joindre">
						<span>JOINDRE</span>
					</div -->
				</div>
				<div 	class="row" 
							ng-repeat="suggestion in suggestions.qcm">
					<div class="col-xs-3 col-sm-2 col-md-2 col-lg-2 solution">
						<p 	class="checkbox img" 
								ng-model="suggestion.solution" 
								ng-class="{checked: suggestion.solution}" 
								ng-click="suggestion.solution = !suggestion.solution">
						</p>
					</div>
					<div class="col-xs-9 col-sm-5 col-md-5 col-lg-5 proposition">
						<input 	type="text" 
										class="texte" 
										maxlength="2000" 
										ng-model="suggestion.proposition"/>
					</div>
					<!-- <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 joindre">
						<div>
							<button id='joindre{{$index}}' 
											ng-hide="true"
											type="file"
											accept="image/*,audio/*"
											ngf-capture="capture"
											ngf-pattern="patternFile"
											ngf-max-size="maxFileSize" 
											ngf-select="uploadSuggestionQCMMedia($file, $index)">
							</button>
						</div>
						<div>
							<p 	ng-if="!suggestion.joindre.file" 
									class="add-media img" 
									ng-click="openFileUpload('joindre'+$index)"
									title="Ajouter une image ou un fichier audio">
							</p>
							<p 	ng-if="!suggestion.joindre.file" 
									class="add-link img" 
									ng-click="openAddLink('qcm', $index)"
									title="Intégrer une video web">
							</p>
							<label 	ng-if="!suggestion.joindre.file" 
											class="label-media texte-secondaire-italic mobile">
								Joindre un fichier
							</label>
							<p 	ng-if="suggestion.joindre.file" 
									class="delete-media img" 
									ng-click="suggestion.joindre.file = null">
							</p>
							<label 	ng-if="suggestion.joindre.file" 
											class="label-media texte-secondaire-italic not-empty">
								{{suggestion.joindre.file.name}}
							</label>
							<i class="label label-danger texte-secondaire-italic msg-error" ng-show="errorFileQCM[$index]">{{errorFileQCM[$index]}}</i>
						</div>
					</div> -->
				</div>
			</div>
		</div>
		<!-------------------- FIN PARTIE QCM ---------------------------->
		<!-------------------- DEBUT PARTIE ASS ---------------------------->
		<div 	ng-if="types.ass" 
					class="row content">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ass">
				<span class="texte-particulier">Réponses :</span>
				<div>
					<p class="info img"></p>					
				</div>
				<div ng-if="!validateAss">
					<span class="texte">
						Renseigner les champs textes dans n'importe quel ordre et valider.
					</span>
				</div>
				<div ng-if="validateAss">
					<span class="texte backline-mobile">Pour relier :</span>
					<span class="texte">1. clic sur une proposition à gauche</span>
					<p class="consigne1 img"></p>
					<span class="texte">2. clic sur la solution en lien à droite</span>
					<p class="consigne2 img"></p>
					<span class="texte">
						Pour corriger, clic sur le lien afin que l'icône de suppression apparaisse
					</span>
					<p class="delete img"></p>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 reponse-ass">
				<div class="row">
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						<div class="row">
							<!-- <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 titre petit right">
								<span>JOINDRE</span>
							</div> -->
							<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 titre petit center">
								<span  style="margin-left: 60%;">PROPOSITIONS</span>
							</div>
						</div>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						<div class="row">
							<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 titre petit center">
								<span>SOLUTIONS LIEES</span>
							</div>
							<!-- <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 titre petit left">
								<span>JOINDRE</span>
							</div> -->
						</div>
					</div>
				</div>
				<div 	class="row" 
							ng-repeat="suggestion in suggestions.ass">
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						<div class="row columns-inverse-mobile">
							<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 joindre left">
								<!-- <div 	class="label-media-mobile" 
											ng-class="{'label-media-left': suggestion.leftProposition.joindre.file}">
									<div 	class="row-inverse-mobile" 
												ng-if="suggestion.leftProposition.joindre.file">
										<label class="label-media texte-secondaire-italic not-empty">
											{{suggestion.leftProposition.joindre.file.name}}
										</label>
										<p 	class="delete-media img" 
												ng-click="suggestion.leftProposition.joindre.file = null">
										</p>
									</div>
									<div 	class="row-inverse-mobile"
												ng-show="
													(!validateAss && !suggestion.leftProposition.joindre.file && 
													($index == 0 || suggestions.ass[{{$index-1}}].leftProposition.libelle))
													|| (validateAss && suggestion.leftProposition.libelle && !suggestion.leftProposition.joindre.file)">
										<label class="label-media texte-secondaire-italic mobile">
											Joindre
										</label>
										<p 	class="add-media img" 
												ng-click="openFileUpload('leftjoindre'+$index)"
												title="Ajouter une image ou un fichier audio">
										</p>
										<p 	class="add-link img" 
												ng-click="openAddLink('assLeft', $index)"
												title="Intégrer une video web">
										</p>
									</div>
								</div> -->
								<div ng-hide="true" >
									<button id='leftjoindre{{$index}}' 
													type="file"
													accept="image/*,audio/*"
													ngf-capture="capture"
													ngf-pattern="patternFile"
													ngf-max-size="maxFileSize" 
													ngf-select="uploadSuggestionASSMedia($file, $index, 'left')">
									</button>
								</div>
							</div>
							<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 proposition left">
								<input 	ng-disabled="
													validateAss || 
													($index != 0 && 
													!suggestions.ass[$index-1].leftProposition.libelle)" 
												type="text" 
												class="texte" 
												maxlength="2000" 
												ng-model="suggestion.leftProposition.libelle"/>
								<p 	ng-show="validateAss && suggestion.leftProposition.libelle" 
										id="leftconnect{{$index}}" 
										class="ass-empty img" 
										ng-class="{
											hover: suggestion.leftProposition.solutions.length == 0,
											selected: connect1.id == $index && suggestion.leftProposition.solutions.length == 0, 
											connected: suggestion.leftProposition.solutions.length > 0
										}" 
										ng-click="connect($index, 'left')">
								</p>
							</div>							
						</div>
						<div class="error-msg">
							<i class="label label-danger texte-secondaire-italic msg-error" ng-show="errorFileASS['left'][$index]">{{errorFileASS['left'][$index]}}</i>							
						</div>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						<div class="row">
							<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 proposition right">
								<p ng-show="validateAss && suggestion.rightProposition.libelle" 
										id="rightconnect{{$index}}" 
										class="ass-empty img" 
										ng-click="connect($index, 'right')" 
										ng-class="{
											selected: connect2.id == $index && suggestion.rightProposition.solutions.length == 0,
											connected: suggestion.rightProposition.solutions.length > 0, 
											hover: suggestion.rightProposition.solutions.length == 0
										}">
								</p>
								<input	ng-disabled="
													validateAss || 
													($index != 0 &&
													!suggestions.ass[$index-1].rightProposition.libelle)" 
												type="text" 
												class="texte" 
												maxlength="2000" 
												ng-model="suggestion.rightProposition.libelle"/>
							</div>
							<!-- <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 joindre right">
								<div ng-hide="true">
									<button id='rightjoindre{{$index}}'
													type="file"
													accept="image/*,audio/*"
													ngf-capture="capture"
													ngf-pattern="patternFile"
													ngf-max-size="maxFileSize" 
													ngf-select="uploadSuggestionASSMedia($file, $index, 'right')">
									</button>
								</div>
								<div 	ng-show="
											(!validateAss && !suggestion.rightProposition.joindre.file && 
												($index == 0 || suggestions.ass[$index-1].rightProposition.libelle))
											|| (validateAss && suggestion.rightProposition.libelle && !suggestion.rightProposition.joindre.file)">
									<p 	class="add-media img" 
											ng-click="openFileUpload('rightjoindre'+$index)"
											title="Ajouter une image ou un fichier audio">
									</p>
									<p 	class="add-link img" 
											ng-click="openAddLink('assRight', $index)"
											title="Intégrer une video web">
									</p>
									<label class="label-media texte-secondaire-italic mobile">Joindre</label>
								</div>
								<div ng-if="suggestion.rightProposition.joindre.file">
									<p 	class="delete-media img" 
											ng-click="suggestion.rightProposition.joindre.file = null">
									</p>
									<label class="label-media texte-secondaire-italic not-empty">
										{{suggestion.rightProposition.joindre.file.name}}
									</label>
								</div>
							</div> -->
						</div>
						<div class="error-msg">
							<i class="label label-danger texte-secondaire-italic msg-error" ng-show="errorFileASS['right'][$index]">{{errorFileASS['right'][$index]}}</i>			
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 btn-ass">
				<div 	ng-if="!validateAss" 
							class="btn-group" 
							role="group" 
							aria-label="radio">
				  <button type="button" 
				  				class="btn btn-quiz hover" 
				  				ng-click="changeModeAss()" 
				  				ng-disabled="!checkAss()">
				  	<label>Valider</label>
				  </button>
				  <button type="button" 
				  				class="btn btn-quiz hover" 
				  				ng-click="cleanAss()">
				  	<label>Effacer</label>
				  </button>
				</div>
				<button ng-if="validateAss" 
								type="button" 
								class="btn btn-quiz hover modif" 
								ng-click="changeModeAss()">
					<label>Modifier le texte</label>
				</button>
			</div>
		</div>
		<div 	ng-show="validateAss && types.ass" 
					id="linesId">
		</div>
		<!-------------------- FIN PARTIE ASS ---------------------------->
		<!-------------------- DEBUT PARTIE TAT ---------------------------->
		<div 	ng-if="types.tat" 
					class="row content">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 tat">
				<span class="texte-particulier">Texte :</span>
				<div>
					<p class="info img"></p>					
				</div>
				<div>
					<span class="texte backline">
						Remplissez le champs texte en changeant de ligne chaque fois que vous voulez laisser un trou.
					</span>
					<span class="texte backline">
						Remplissez en face la solution : elles seront toutes présentées, par ordre alphabétique, à chaque trou.
					</span>
					<span class="texte backline">
						Ajouter des leurres qui se mêleront aux réponses proposées.
					</span>
				</div>
			</div>
			
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 reponse-tat">
				<div class="row" ng-repeat="suggestion in suggestions.tat">
					<div class="col-xs-6 col-sm-5 col-md-5 col-lg-5 titre petit center">
						<span>TEXTE</span>
					</div>
					<div class="textarea">
							<textarea class="texte" 
												maxlength="2000" 
												placeholder=""
												ng-model="suggestion.text">
							</textarea>
						</div>
					<button	id="questionMediaId"
										ng-hide="true"
										type="file"
										accept="image/*,audio/*"
										ngf-capture="capture"
										ngf-pattern="patternFile"
										ngf-max-size="maxFileSize"
										ngf-select="uploadQuestionMedia($file)">
						</button>
						<div class="col-xs-6 col-sm-4 col-md-5 col-lg-5 titre petit center">
						<BR><span>SOLUTION</span>
					
						<input 	type="text" 
										class="texte" 
										maxlength="2000" 
										ng-model="suggestion.solution.libelle"/>
					
							<div class="add-leurre">
							<p 	class="add-media img" 
							ng-click="addLeurre($index)">
							</p>
							<label class="label-media texte-secondaire-italic">
								Ajouter des leurres
							</label>
							</div>
						</div>
							<!-- <p 	class="add-media img" 
									ng-click="openFileUpload('questionMediaId')">
							</p>
							<label 	class="label-media texte-secondaire-italic" 
											ng-class="{'not-empty': question.media.file && question.media.type != 'video'}">
								{{question.media.file != null && question.media.type != "video" ? question.media.file.name : placeholderMedia}}
							</label>
							<p 	class="add-link img" 
									ng-click="openAddLink('question')">
							</p>
							<label 	class="label-media texte-secondaire-italic" 
											ng-class="{'not-empty': question.media.file && question.media.type== 'video'}">
								{{question.media.file != null && question.media.type == "video" ? question.media.file.name : placeholderLink}}
							</label> -->
							<div 	class="leurres" 
									ng-repeat="leurre in suggestions.leurres"
									ng-if="leurre.attribue==$parent.$index">
								<p 	class="deleted img" 
									ng-click="deleteLeurre(leurre.id)">
								</p>
								<label>{{leurre.libelle}}</label>
							</div>
						<div>
								
						<i class="label label-danger texte-secondaire-italic msg-error" ng-show="errorFileTAT[$index]">{{errorFileTAT[$index]}}</i>
					</div>
					</div>
				<div class="add-tat">
					<p 	class="	glyphicon glyphicon-plus-sign" 
							ng-click="addTAT()">
							Ajouter un champs texte
					</p> /
					<!-- <label class="label-media texte-secondaire-italic">
						Ajouter un champs texte + solution
					</label>
				 -->
					<p 	class= "glyphicon glyphicon-remove"
							ng-click="deleteTAT()">
								supprimer un champs
					</p>
					<!-- <label class="label-media texte-secondaire-italic">
						supprimer un champs
					</label> -->
				</div>
			<div ng-show="showBackLeurre" class="back-leurres">
				<div class="bleu">
					<span ng-click="backLeurre()" class="glyphicon glyphicon-share-alt"></span>
					<span ng-click="backLeurre()" class="texte-secondaire">Annuler la suppression du leurre</span>						
				</div>
			</div>
		</div>
		<!-------------------- FIN PARTIE TAT ---------------------------->
		<div class="row content border-bottom columns-inverse-mobile">
			<div ng-if="question.type != 'tat'" class="col-xs-12 col-sm-3 col-md-3 col-lg-3 rand-answers">
				<div 	class="btn-group" 
							role="group" 
							aria-label="radio">
				  <button type="button" 
				  				class="btn btn-quiz" 
				  				ng-class="{selected: question.randanswer}"
			  					ng-click="question.randanswer = true">
			  		<label>oui</label>
			  	</button>
				  <button type="button" 
				  				class="btn btn-quiz" 
				  				ng-class="{selected: !question.randanswer}" 
				  				ng-click="question.randanswer = false">
				  	<label>non</label>
				  </button>
				</div>			
			</div>
			<div ng-if="question.type != 'tat'" class="col-xs-12 col-sm-9 col-md-9 col-lg-9 rand-answers">
				<div>
					<label class="texte">mélanger l'ordre des propositions</label>
				</div>
			</div>
		</div>
		<div class="row content">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 comment">
				<div>
					<span class="texte-particulier">Commentaire :</span>
				</div>
				<div class="textarea">
					<textarea class="texte" 
										maxlength="2000" 
										placeholder="Vous pouvez saisir un commentaire qui sera visible à  la correction (règle de grammaire, explication de contexte etc.)"
										ng-model="question.comment">
					</textarea>
				</div>
			</div>
		</div>
	</div>
		<p class="preview-question img" ng-click="preview()"></p>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 validate">
		<div 	class="btn-group" 
					role="group" 
					aria-label="radio">
		  <button type="button" 
		  				class="btn btn-quiz hover"
		  				ng-class="{disabled: !question.libelle || !atLeastOneAnswer(question.type)}" 
		  				ng-click="addQuestion()">
		  	<label>Valider</label>
		  </button>
		  <button type="button" 
		  				class="btn btn-quiz hover" 
		  				ng-click="backParams()">
		  	<label>Annuler</label>
		  </button>
		</div>			
	</div>
</div>
