<div class="row aside-home" >
		<div  ng-click="goHome()" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 sessions title">
		<span  class="titre">Mes Quizs</span>
	</div>
	<div ng-if="roleMax > 0" ng-click="openPublicationEnCours()" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 sessions title">
		<span  class="titre">Mes Publications</span>
	</div>
	<div ng-click="openAllSession(lastSessions[0].quiz.id, publish.rgptId)"class="col-xs-12 col-sm-12 col-md-12 col-lg-12 sessions title">
		<span  class="titre">Résultats</span>
	</div>
	<div ng-if="roleMax > 0" ng-click="openBibliotheque()" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 sessions title">
		<span  class="titre">Bibliotheques</span>
	</div>
</div>


