.contener-404{
	height: 100%;
	min-height: 100%;
	margin: 0;
}
.contener-404 #logoLaClasse{
	fill: #fff;
}
.contener-404 .text-404{
	height: 100%;
	display: table;
}
.contener-404 .text-404>div{
	display: table-cell;
	vertical-align: middle;
}
.contener-404 .text-404>div>h1, .contener-404 .text-404>div>h2{
	font-family: 'Open Sans Bold';
	color: #fff;
}
.contener-404 .text-404>div>h1{
	font-size: 150pt;
}

/*** css des mobiles seuls ***/
@media screen and (max-width: 768px) {
	.contener-404 .logo>svg{
		width: 150px;
	}
	.contener-404 .text-404{
		height: initial;
		display: block;
	}
	.contener-404 .text-404>div{
		display: block;
		text-align: center;
	}
	.contener-404 .text-404>div>h1{
		font-size: 50pt;
		margin-top: 0;
	}
	.contener-404 .text-404>div>h2{
		font-size: 15pt;
	}
}