<div class="modal-header bleu"><span class="grand-titre">Modifier le titre du quiz</span></div>
<div class="modal-body">
	<input type="text" maxlength="100" ng-model="title" autofocus/>
	<span ng-if="title.length == 0" class="label label-danger msg-error">Le titre du quiz ne peux pas être vide !</span>
</div>	
<div class="modal-footer">
    <button class="btn btn-modal" ng-click="ok()"><label>oui</label></button>
    <button class="btn btn-modal" ng-click="no()"><label>non</label></button>
</div>